.rbc-time-gutter,
.rbc-time-header-gutter {
  width: 3rem;
}

.rbc-time-content {
  border-top: 1px solid #0000006e;
}

.rbc-time-gutter,
.rbc-time-header-gutter,
.rbc-header,
.rbc-day-slot {
  border-right: 1px solid #0000006e;
}

.rbc-allday-cell {
  display: none;
}
.rbc-time-view .rbc-header {
  border-bottom: none;
}

.reloading .rbc-time-view,
.reloading .rbc-month-view {
  opacity: 0.3;
  color: grey;
}

.rbc-header span {
  text-wrap: auto;
}

@media (max-width: 400px) {
  .rbc-btn-group button {
    padding: 0.4rem;
  }
}

.rbc-current-time-indicator {
  --yellow: #f4c300;
  --thick: 2px;
  --gap: 2px;
  
  height: 10px;
  position: absolute;
  background:
        linear-gradient(var(--yellow) 0 0) 50% 50% / 100% var(--thick) no-repeat,
        linear-gradient(var(--yellow) 0 0) 50% calc(50% + var(--thick) + var(--gap)) / 100% var(--thick) no-repeat;
  
}

.rbc-day-slot .rbc-events-container {
  margin-right: 0;
}

/* Drag and drop might put title and body to the same row, split them */
.rbc-day-slot .rbc-event,
.rbc-day-slot .rbc-background-event {
  flex-flow: row wrap;
}

/* Show as much of the event time as possible, not just 0... */
.rbc-day-slot .rbc-event-label {
  overflow: visible;
  white-space: normal;
  flex-basis: 100%;
  margin-bottom: 5px;
}